.gallery {
	display: flex;
	flex-wrap: wrap; /* Permite que las columnas se ajusten a la siguiente línea */
	padding: 2px;
	transition: .3s;
	margin-top:4rem;
	margin-bottom:4rem;
}

.gallery:hover .gallery__image {
	filter: grayscale(1);
}

.gallery__column {
	display: flex;
	flex-direction: column;
	width: 25%; /* Cada columna ocupa el 25% del ancho del contenedor */
	box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}

.gallery__link {
	margin: px;
	overflow: hidden;
	position: relative;
}

.gallery__link:hover .gallery__image {
	filter: grayscale(0);
}

.gallery__link:hover .gallery__caption {
	opacity: 1;
}

.gallery__thumb {
	position: relative;
}

.gallery__image {
	display: block;
	width: 100%;
	transition: .3s;
}

.gallery__image:hover {
	transform: scale(1.1);
}

.gallery__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 25px 15px 15px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: white;
	opacity: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
	transition: .3s;
}
