.newsletter-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.newsletter-header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
    
}

.newsletter-header h1 {
    margin: 0;
    color: #007BFF;
    margin-top: 20px;
}

.newsletter-header p {
    margin: 5px 0 0;
    color: #666;
}

.newsletter-content .newsletter-article {
    margin-bottom: 20px;
}

.newsletter-content .newsletter-article h2 {
    margin: 0 0 10px;
    color: #007BFF;
}

.newsletter-content .newsletter-article p {
    margin: 0 0 10px;
    color: #555;
}

.newsletter-content .newsletter-article a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.newsletter-content .newsletter-article a:hover {
    text-decoration: underline;
}

.newsletter-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    color: #666;
}

.newsletter-footer a {
    color: #007BFF;
    text-decoration: none;
}

.newsletter-footer a:hover {
    text-decoration: underline;
}

.newsletter-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.newsletter-images img {
    width: 48%;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}