

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.article-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% - 40px); 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.article:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    margin-bottom: 1rem;
}

.author {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.read-more {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more:hover {
    background-color: #0056b3;
}


.compartir {
    margin-top: 20px;
  }
  
  .compartir h5 {
    margin-bottom: 10px;
  }
  
  .btn-group {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
  
  .btn-facebook {
    background-color: #3b5998;
  }
  
  .btn-twitter {
    background-color: #1da1f2;
  }
  
  .btn-linkedin {
    background-color: #0077b5;
  }
  
  .btn:hover {
    opacity: 1.5;
  }
  
