.image-container {
    position: relative;
    width: auto;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.7em; 
    text-align: right; 
    padding: 2rem; 
    z-index: 1;
    max-width: 35%; 
  }